body

    h1, ul
        margin 0

    .main-wrapper
        display grid

        .nav
            background-color red

        .header
            background-color blue

        .content
            background-color pink
