body
    margin 0

    h1, ul
        margin 0


app-home
    display grid
    grid-template-columns 1fr 1fr
    grid-template-areas "navbar header"\
    "content content"

    .nav
        grid-area navbar
        justify-self center
        align-self center
        margin 10px

    .header
        grid-area header
        justify-self center
        align-self center
        margin 10px

    .content
        background-color pink
        grid-area content

@media (max-width 768px)
    app-home
        grid-template-areas "header header"\
        "content content"

        .nav
            display none
