body
    margin 0

    h1, ul
        margin 0


app-home
    display grid
    grid-template-columns 1fr 1fr
    grid-template-areas "navbar header"\
    "content content"

    .nav
        background-color red
        grid-area navbar
        ul
            justify-self center

    .header
        background-color blue
        grid-area header

    .content
        background-color pink
        grid-area content
