h1 Home

input([(ngModel)]="url", placeholder='Subreadit URL', type="text")

button(type="button", (click)="getFeed()") Get Feed

.grid
    div(*ngFor="let item of items")
        img(src="{{item}}")
