app-nav.nav

.header
    form((ngSubmit)="getFeed()")
        input([(ngModel)]="url", placeholder='Subreadit URL', type="text", [ngModelOptions]="{standalone: true}")
        button(type="button", (click)="getFeed()") Get Feed

.content
    .grid
        div(*ngFor="let item of data")
            div(*ngIf="item.type === 'gif' || item.type === 'image'")
                img(src="{{item.url}}")
            div(*ngIf="item.type === 'iframe'")
                iframe([src]="data[14].url")
