.header
    h1 Feed: {{ url }} : count {{ images.length }}

input([(ngModel)]="url", placeholder='Subreadit URL', type="text")

button(type="button", (click)="getFeed()") Get Feed

.content
    .grid
        div(*ngFor="let item of images")
            img(src="{{item}}")
